@import "../../styles/scss/_base.scss";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formlabel {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 12px;
}

.forminput {
  width: 100%;
  height: 52px;
  border-radius: 30px;
  background-color: $blue-cl;
  border: none;
  padding: 17px 18px;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 32px;
  }
}

.forminput:last-of-type {
  margin-bottom: 40px;
}

input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(166, 171, 185, 1);
}

.allbtn {
  display: flex;
}

.btn {
  width: 116px;
  height: 44px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: $blue-cl;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: $main-txt-cl;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);

  @include tablet {
    width: 122px;
  }
}

.btnmrgin {
  margin-right: 15px;
}
