@import "../../styles/scss/_base.scss";

.btngoogle {
  width: 122px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  background-color: $blue-cl;
  border: none;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.2);
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.logoGoogle {
  width: 18px;
  margin-right: 10px;
}
