@import "../../styles/scss/_base.scss";

.root {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 142px;
  background-image: url("../../img/bg-hero-mobile.svg");

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;

  @include tablet {
    width: 768px;
    padding-top: 136px;
    padding-left: 171px;
    background-image: url("../../img/bg-hero-tablet.svg");
  }

  @include desktop {
    width: 1280px;
    padding-top: 174px;
    padding-bottom: 125px;
    padding-left: 229px;
    background-image: url("../../img/bg-hero-desktop.svg");

    @include content-position;
    justify-content: space-between;
  }
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 14px;
  letter-spacing: 0.02em;

  margin-bottom: 7px;

  @include tablet {
    font-size: 35px;

    margin-bottom: 16px;
  }

  @include desktop {
    font-size: 45px;

    margin-bottom: 20px;
  }
}

.text {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $main-txt-cl;

  margin-bottom: 50px;

  @include tablet {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.18em;

    margin-bottom: 80px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.auth {
  background: $white-cl;
  padding: 40px 20px;
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);

  display: flex;
  flex-direction: column;
  align-items: center;
}
