$main-font: "Roboto", sans-serif;
$tipical-font-size: 12px;

$white-cl: rgba(255, 255, 255, 1);
$blue-cl: rgba(246, 247, 251, 1);
$main-txt-cl: rgba(82, 85, 95, 1);
$second-txt-cl: rgba(0, 0, 0, 1);
$btn-active-cl: rgba(255, 117, 29, 1);
$btn-noactive-cl: rgba(245, 246, 251, 1);
